@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 8%;
    margin-bottom: 5%;
    background-color:hsl(0, 0%, 95%);
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    margin-top: 30px;
    margin-left: 40px;
    width: 50px;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 30px;
    margin-left: 40px;
    margin-top: 40px;
    color: hsl(0, 0%, 95%);

}

p {
    font-size: small;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 2;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    background-color: hsl(0, 0%, 95%);
    display: block;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.colums {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 900px;
}

.sedans {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    color: white;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.sedans button {
    border: 1px solid hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

.sedans button:hover{
    background-color:  hsl(31, 77%, 52%);
    border: 1px solid  hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    display: block;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.suvs {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    border: 1px solid hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.suvs button:hover{
    background-color:   hsl(184, 100%, 22%);
    border: 1px solid  hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    display: block;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.luxury {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.luxury button {
    border: 1px solid hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}

.luxury button:hover{
    background-color:   hsl(179, 100%, 13%);
    border: 1px solid  hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    display: block;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .colums {
      width: 100%;
      flex-direction: column;
    }
    
    .sedans,
    .suvs,
    .luxury {
      width: 100%;
      margin-top: 20px;
      border-radius: 0;
    }
  }  
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 32px;
    }
  
    p {
      font-size: 12px;
      line-height: 1.5;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    button {
      margin-left: 20px;
      margin-top: 30px;
    }
  }
